.my-card__media {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .my-card__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  